<div routerLink="/dashboard/teachers/1" class="main-wrapper">
    <div class="header-img-wrapper">
        <img src="assets/imgs/dashboard/unkown-teacher.png" class="rounded-thumb-img" alt="">
    </div>

    <h5 class="second-text font-weight-medium">
        Teacher
    </h5>


    <div class="body text-center">
        <p class="text-capitalize font-weight-medium">Karim ali saber</p>
        <p class="small-decs email">karimali201094@gmail.com</p>
    </div>



    <div class="footer ">
        <div class="img-wrapper">
            <img src="assets/imgs/teacher/info.svg" class="rounded-thumb-img" alt="">
        </div>

        <div class="img-wrapper">

            <img src="assets/imgs/teacher/graph.svg" class="rounded-thumb-img" alt="">
        </div>
    </div>
</div>