<div  *ngIf="teacher" [routerLink]="'/dashboard/teachers/' + teacher.id" class="main-wrapper">
    <div class="header-img-wrapper">
        <img *ngIf="!teacher.avatarUrl" src="assets/imgs/dashboard/unkown-teacher.png" class="rounded-thumb-img" alt="">
    
        <img *ngIf="teacher.avatarUrl" [src]="teacher.avatarUrl" alt="">
    </div>

    <h5 class="second-text font-weight-medium">
        {{'teacher' | translate}}
    </h5>


    <div class="body text-center">
        <p class="text-capitalize font-weight-medium">{{teacher.fullName}}</p>
        <p class="small-decs email">{{teacher.email}}</p>
    </div>



    <div class="footer ">
        <div class="img-wrapper">
            <img src="assets/imgs/teacher/info.svg" class="rounded-thumb-img" alt="">
        </div>

        <div class="img-wrapper">

            <img src="assets/imgs/teacher/graph.svg" class="rounded-thumb-img" alt="">
        </div>
    </div>
</div>