<div class="main-wrapper">
    <div class="header small-gap d-flex align-center">
        <img src="assets/imgs/logo.png" class="rounded-thumb-img" alt="">

        <h1>
            Card Title
        </h1>
    </div>

    <div class="body">
        <p>
            <span nz-icon nzType="mail" nzTheme="outline"></span>

            Karim@gmail.com
        </p>

        <p>
            <span nz-icon nzType="phone" nzTheme="outline"></span>

            +201097628565
        </p>
    </div>


    <nz-divider></nz-divider>

    <div class="footer">
        <div class="item user">
            Karim
        </div>

        <div class="item share">
            Share
        </div>

        <div class="item vote">
            11 votes
        </div>

        <div class="item vote">
            6 votes
        </div>
    </div>
</div>