<div  class="d-flex main-wrapper">

    <div  class="background-wrapper">
        <!-- <div class="background-item"></div> -->
        <img src="assets/imgs/auth/login-background.png"  alt="">
    </div>

    <div  class="form-wrapper">
        <form  autocomplete="off" (ngSubmit)="signIn()" [formGroup]="form">
            <div class="logo">
                <img src="assets/imgs/logo.png" alt="logo">
            </div>
        
            <h1 class="user-type">{{'userType' | translate}}</h1>
        
            <p>{{'_signup_desc1' | translate}}</p>
            <p class="desc">{{'_signup_desc2' | translate}}</p>


            
            <div class="item">
                <label>{{"userName" | translate}}</label>
                <nz-form-item>
                    <nz-form-control   nzHasFeedback>
                        <input nz-input  [placeholder]="'userName' | translate" nzSize="large"
                            formControlName="username" />
                    </nz-form-control>
                </nz-form-item>    
            </div>
           
            <div class="item">
                <label>{{"password" | translate}}</label>

                <nz-form-item>
                    <nz-form-control   nzHasFeedback>
                        <input nz-input type="password" [placeholder]="'password' | translate" nzSize="large"
                            formControlName="password" />
                    </nz-form-control>
                </nz-form-item>
            
            </div>

        
            <button [disabled]="form.invalid" class="btn main-btn w-100">
                {{ "signin" | translate }}
            </button>
        </form>

        <div class="footer">
            <p>{{'doNotHaveAccount' | translate}}
                <a routerLink="/auth/signup"> {{'signup' | translate}}</a>
            </p>
        </div>
    </div>

 
</div>
