<div class="main-wrapper">
    <!-- <button (click)="scrollTab(-1, tags)" [class.hide]="atStart"> -->
        <img src="assets/imgs/icons/left-icon.svg" alt="">
    <!-- </button> -->


    <section *ngIf="tags?.length" class="tabs-container">

        <div class="tabs" [ngStyle]="{'transform': abc }">
            <nz-tag [(nzChecked)]="tag.selected" (nzCheckedChange)="checkChange($event, tags)" nzMode="checkable"
                class="tab tag-item gray" *ngFor="let tag of tags">{{tag.title}}</nz-tag>
        </div>

    </section>

    <!-- <button [class.hide]="atEnd" (click)="scrollTab(1, tags)"> -->
        <img src="assets/imgs/icons/right-icon.svg" alt="">
    <!-- </button> -->
</div>