@import "settings/colors";
:host ::ng-deep .ant-table-thead th{
    background: $main-color;
    color: #fff;
}

.certificate-btn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt-20{
    margin-top: 20px;
}