<button (click)="addCertificate()" class="main-border certificate-btn circle">
  <span class="plus-icon" nz-icon nzType="plus" nzTheme="outline"></span>
</button>
<label for="">{{'addCertificate' | translate}}</label>

<div class="mt-20"></div>
<nz-table #table [nzData]="attachments$ | async" nzTableLayout="fixed">
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumns">
        {{ column.name }}
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let data of table.data">
      <td>{{ data.title }}</td>
      <td>{{ data.specialtity?.title }}</td>
      <td>{{ data.description }}</td>
      <td><img [src]="data.file" alt="" class="circle" width="40px" height="40px"></td>
    </tr>
  </tbody>
</nz-table>