<ng-container *ngIf="form">
    <h1 class="title">
        {{'teacherInfo' | translate}}
    </h1>
    
    
    <ng-container *ngIf="true">
        <div class="">
            <label for="">{{'specialties' | translate}}</label>

       
        </div>
        
        <button (click)="addSpecialty()" class="main-border specialty-btn circle">
            <span class="plus-icon" nz-icon nzType="plus" nzTheme="outline"></span>

        </button>

        <div class="specialties main-border">
            <div class="item main-border">
                <img class="avatar" width="15" height="15" src="assets/imgs/logo.png" alt="">
    
                Chemistry
            </div>
        </div>
    </ng-container>
    
    <ng-container *ngIf="true">
        <h1 class="title">
            {{'certificates' | translate}}
        </h1>

        <div class="clearfix">
            <div class="upload-wrapper">
                <nz-upload #upload id="upload" nzListType="picture-card" [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 8"
                [nzPreview]="handlePreview" nzName="file" [nzMultiple]="true"
                (nzChange)="onUploadChange($event)">
                <span class="plus-icon" nz-icon nzType="plus" nzTheme="outline"></span>

            </nz-upload>

            </div>
            <!-- <label for="upload"  class="text-capitalize">{{'addCertificates' | translate}}</label> -->
            

            <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                (nzOnCancel)="previewVisible = false">
                <ng-template #modalContent>
                    <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                </ng-template>
            </nz-modal>
        </div>

        <app-teacher-certificates></app-teacher-certificates>

    </ng-container>

</ng-container>
