.d-flex{
    display: flex;
}

.flex-h-center{
    justify-content: center;
}

.flex-v-center{
    align-items: center;
}

.flex-center{
    align-items: center;
    justify-content: center;

}

.justify-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;

}

.align-center{
    align-items: center;
}

.small-gap{
    gap: .5rem;
}