    /* Colors: */
$main-color: #00AE6B;
$main-text-color: #00482D;
$light-green-color: #0BBB77;
$light-background: #6AE2B5;
$danger-color: #EE0000;
$light-orange-color: #FFC16A;
$dark-gray-color: #494647;
$light-color: #6BE3B5;
$dark-color: #363636;
$second-color: #FF9900;
$yellow-color: #FFE631;
$pureblue-color: #7031A0;
$blue-color: #005E91;
$light-blue-color: #89D3FB;
$dark-blue-color: #0069A2;