<app-tags></app-tags>

<div *ngFor="let question of questions$ | async" class="wrapper">
    <app-question-card [question]="question"></app-question-card>
</div>


<div class=" ask-question-wrapper light-green-background">
    <div class="d-flex justify-content-center layout">
        <button (click)="openAskQuestionModal()" nzSize="large" nz-type="primary" nz-button class="text-capitalize main-background text-center">
            {{'askQuestion' | translate}}
        </button>
    </div>

    <div class="bottom"></div>
</div>