<div class="wrapper ">
    <nz-input-group>
        <input class="search-input" nz-input [placeholder]="'search' | translate" autofocus />
    </nz-input-group>

        <button class="notification-wrapper main-border circle">
            <img src="assets/imgs/icons/notification.svg" alt="">

            <nz-badge [nzCount]="0" nzShowZero>
                <a class="head-example"></a>
              </nz-badge>
    
        </button>
   
        
   

    <button routerLink="/auth/signup">
        <img src="assets/imgs/icons/login-user.svg" alt="">

    </button>
</div>