@import "settings/colors";

.search-input {
	height: 50px;
	font-size: 1rem;
	border-radius: 1rem !important;
}

.wrapper{
    margin-bottom: 2rem;
	display: flex;
	gap: 1rem;
	align-items: center;
}

.notification-wrapper{
	padding: .7rem .8rem;
	position: relative;

	nz-badge{
		position: absolute;
		right: 0;
	}
}


.menu{
	z-index: 100000 !important;
	position: relative;
}

nz-dropdown-menu{
	z-index: 100000 !important; 

}

.menu-header{
	display: flex;
	gap: 10px;
	padding: .5rem 1.5rem;


}

.menu-title{
	font-weight: normal;
	font-size: 1.2rem;
	margin: 0;
}

.menu-footer{
	button{
		padding: .5rem 1.5rem;

	}
}
.menu-name{
	font-size: .9rem;
}

.menu-email{
	font-size: .7rem;
	font-weight: 600;
}

nz-divider{
	margin: 0;
	padding: 0;
}