<!--  -->
<div class="main-wrapper main-border question-answer">
    <div class="header main-background">
        <h4>
            {{'questionAnswers' | translate}}
        </h4>


    </div>

    <div *ngFor="let answer of answers; index as i; last as last" class="content-wrapper">

        <div class="content">

            <div class="">
                <p class="details">
                    {{answer.text}}
                </p>




                <div class="footer">
                    <div class="item user">
                        <img width="20" height="20" width="20" height="20" src="assets/imgs/icons/user.svg" alt="">
                        {{answer.answerdBy}}
                    </div>

                </div>
            </div>

            <div class="date-wrapper">
                <span class="date second-background">
                    {{answer.created | date}}
                </span>
            </div>

        </div>
        <nz-divider *ngIf="!last"></nz-divider>
    </div>
</div>