<!--  -->
<div class="main-wrapper main-border question-answer">
    <div class="header main-background">
        <h4>
            Card Title
        </h4>


    </div>

    <div class="content">
        <div class="date-wrapper">
            <span class="date second-background">
                15/2/2022
            </span>
        </div>


        <p class="details">
            lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, voluptatibus! Esse quas obcaecati ipsa iure
            totam? Sequi ipsum, suscipit, alias nulla, numquam illo impedit maiores explicabo deserunt similique magni
            corporis?
        </p>




        <div class="footer">
            <div class="item user">
                <img width="20" height="20" width="20" height="20" src="assets/imgs/icons/user.svg" alt="">

                Karim
            </div>

        </div>
    </div>

</div>