<div routerLink="/dashboard/questions/details" class="main-wrapper">
    <div class="header d-flex justify-between align-center">
        <h1>
            Card Title
        </h1>

        <span class="date">
            15/2/2022
        </span>

    </div>

    <nz-divider></nz-divider>

    <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, voluptatibus! Esse quas obcaecati ipsa iure
        totam? Sequi ipsum, suscipit, alias nulla, numquam illo impedit maiores explicabo deserunt similique magni
        corporis?
    </p>


    <div class="footer">
        <div class="item user">
            Karim
        </div>

        <div class="item share">
            Share
        </div>

        <div class="item vote">
            11 votes
        </div>

        <div class="item vote">
            6 votes
        </div>
    </div>
</div>