.main-wrapper{
    margin-bottom: 2rem;
}

.footer {
    display: flex;
    gap: .7rem;

    .item {
        font-size: .7rem;

        &.vote {
            border-radius: 14px;
            padding: .1rem .7rem;
        }
    }

}

.date{
    border-radius: .2rem;
    padding: .1rem .2rem;
    font-size: .9rem;
}

nz-divider{
    margin: .5rem 0;
}