<!--  -->
<div  class="main-wrapper main-container">
    <div class="header d-flex justify-between align-center">
        <h1 routerLink="/dashboard/questions/details">
            {{question.title}}
        </h1>

        <span class="date second-background">
            15/2/2022
        </span>
    </div>

    <nz-divider></nz-divider>

    <p class="description">
        lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, voluptatibus! Esse quas obcaecati ipsa iure
        totam? Sequi ipsum, suscipit, alias nulla, numquam illo impedit maiores explicabo deserunt similique magni
        corporis?
    </p>


    <div class="footer">
        <div class="item user">
            <img width="20" height="20"width="20" height="20" src="assets/imgs/icons/user.svg" alt="">
            
            Karim
        </div>

        <!-- <div class="item share">
                <img width="20" height="20" src="assets/imgs/icons/share.svg" alt="">

            Share
        </div> -->

        <div style="display: flex; gap: 5px" >
            <div class=" main-border edit-wrapper circle">
               <span nz-icon nzType="edit" nzTheme="outline"></span>
            </div>
            {{'edit' | translate}}
        </div>

        <div nz-tooltip  class="item answer main-border success">
            2 answers
        </div>



        <div nz-tooltip [nzTooltipTitle]="'helpful' | translate" class="item vote main-border success">
            <img src="assets/imgs/icons/right.svg" alt="">

            11 votes
        </div>

        <div nz-tooltip [nzTooltipTitle]="'notHelpful' | translate" class="item vote danger-border danger">
            <img src="assets/imgs/icons/close.svg" alt="">

            6 votes
        </div>
    </div>
</div>