.main-wrapper{
    margin-bottom: 2rem;
}

.footer {
    display: flex;
    gap: .7rem;
    align-items: center;
    .item {
        font-size: .7rem;

        &.vote {
            border-radius: 14px;
            padding: .1rem .7rem;
        }
    }

}

.date{
    border-radius: .2rem;
    padding: .1rem .2rem;
    font-size: .9rem;
}

nz-divider{
    margin: .5rem 0;
}
.edit-wrapper{
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.answer{
    color: #6C64DD;
    border-radius: 14px;
    padding: .1rem .7rem;
    border-color: #6C64DD;
}