.container{
    background-repeat: no-repeat;
    background-size: cover;
}


ul{
    padding-top:2rem ;
}

li{
    list-style-type: none;
    margin-bottom: 1rem;

    a.active{
        background-color: white;
    }
}