<div class="container">
    <ul>
        <div class="logo">
            <img class="d-block" src="assets/imgs/logo.png" alt="student">
           
            <p class="text-center">{{'elkom' | translate}}</p>
        </div>


        <li class="list-style-none">

            <a routerLink="">
                {{'dashboard' | translate}}
            </a>
        </li>



        <li class="list-style-none">

            <a routerLink="">
                {{'questions' | translate}}
            </a>
        </li>


        <li class="list-style-none">

            <a routerLink="">
                {{'myQuestions' | translate}}
            </a>
        </li>


        <li class="list-style-none">

            <a routerLink="">
                {{'teachers' | translate}}
            </a>
        </li>


        <li class="list-style-none">

            <a routerLink="">
                {{'profile' | translate}}
            </a>
        </li>
    </ul>
</div>