<div class="container">
    <ul>
        <div class="logo">
            <img class="d-block" src="assets/imgs/logo.png" alt="student">

            <p class="text-center">{{'elkom' | translate}}</p>
        </div>


        <li class="list-style-none">

            <a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard/">
                {{'dashboard' | translate}}
            </a>
        </li>



        <li class="list-style-none">

            <a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard/questions">
                {{'questions' | translate}}
            </a>
        </li>


        <li class="list-style-none">

            <a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard/myquestions">
                {{'myQuestions' | translate}}
            </a>
        </li>


        <li class="list-style-none">

            <a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard/teachers">
                {{'teachers' | translate}}
            </a>
        </li>


        <li class="list-style-none">

            <a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard/profile">
                {{'profile' | translate}}
            </a>
        </li>
    </ul>
</div>