<div class="container">
    <ul>
        <div class="logo">
            <img width="120" height="110" class="d-block" src="assets/imgs/logo-en.png" alt="student">
        </div>


       



        <li class="list-style-none">

            <a class="anchor main-text text-capitalize" [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard/questions">
                <img src="assets/imgs/dashboard/questions-active.png" alt="">

                {{'questions' | translate}}
            </a>
        </li>


        <li class="list-style-none">

            <a class="anchor main-text text-capitalize" [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard/myquestions">
                <img src="assets/imgs/dashboard/my-questons.png" alt="">
                {{'myQuestions' | translate}}
            </a>
        </li>


        <li class="list-style-none">

            <a class="anchor main-text text-capitalize" [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard/teachers">
                <img src="assets/imgs/dashboard/teachers.png" alt="">
                {{'teachers' | translate}}
            </a>
        </li>


        <li class="list-style-none">

            <a class="anchor main-text text-capitalize" [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard/profile">
                <img src="assets/imgs/dashboard/profile.png" alt="">
                {{'profile' | translate}}
            </a>
        </li>
    </ul>
</div>