<div class="wrapper">

    <form nz-form [formGroup]="form" nzLayout="vertical">
        <div class="wrapper">
            <label for="">{{'tag' | translate}}</label>
            <ng-select [multiple]="true" bindLabel="title" bindValue="id" [items]="tags$ | async" formControlName="tags">
            </ng-select>
        </div>


        <!-- <div class="wrapper">
                <ng-select placeholder="{{'level' | translate}}" *ngIf="levels$ | async as levels" formControlName="levelId"
                    (ngModelChange)="onLevelChange($event)">
                    <label for="">karim</label>
                    <ng-option *ngFor="let option of levels" >
                        {{option.title}}
                    </ng-option>
                </ng-select>
        </div>


        <div class="wrapper">
                <ng-select placeholder="{{'subject' | translate}}" *ngIf="subjects$ | async as subjects" formControlName="subjectId"
                    (ngModelChange)="onSubjectChange($event)">
                    <ng-option *ngFor="let option of subjects" >
                        {{option.title}}
                    </ng-option>
                </ng-select>
        </div>


        <div class="wrapper">
            <ng-select placeholder="{{'lecture' | translate}}" *ngIf="lectures$ | async as lectures" formControlName="subjectId">
                <ng-option *ngFor="let option of lectures" >
                    {{option.title}}
                </ng-option>
            </ng-select>
           
        </div> -->

        <!-- Question Text -->
        <div class="form-wrapper wrapper">
            <label>{{"questionText" | translate}}</label>
            <nz-form-control>
                <input nz-input type="text" [placeholder]="'questionText' | translate" nzSize="large"
                    formControlName="text" />
            </nz-form-control>
        </div>


        <!-- Question Description -->
        <div class="wrapper form-wrapper">
            <label>{{"description" | translate}}</label>
            <nz-form-control>
                <textarea rows="4" formControlName="description" nz-input
                    [placeholder]="'description' | translate"></textarea>
            </nz-form-control>
        </div>


        <div class="img-wrapper">
            <ng-container>
                <div class="clearfix">
                    <nz-upload nzListType="picture-card" [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 8"
                        [nzPreview]="handlePreview" nzName="file" [nzMultiple]="true"
                        (nzChange)="onUploadChange($event)">
                        <span class="plus-icon" nz-icon nzType="plus" nzTheme="outline"></span>

                    </nz-upload>
                    <span class="text-capitalize">{{'addImg' | translate}}</span>


                    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                        (nzOnCancel)="previewVisible = false">
                        <ng-template #modalContent>
                            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                        </ng-template>
                    </nz-modal>
                </div>
            </ng-container>
        </div>
    </form>
</div>