<div class="wrapper">

    <form nz-form [formGroup]="form" nzLayout="vertical">

        <!-- Level -->
        <div>
            <label>{{'level' | translate}}</label>
                <ng-select *ngIf="levels$ | async as levels" formControlName="levelId"
                    (ngModelChange)="onLevelChange($event)">
                    <ng-option *ngFor="let option of levels" >
                        {{option.title}}
                    </ng-option>
                </ng-select>
        </div>

        <!-- Subject -->

        <div>
            <label>{{'subject' | translate}}</label>
                <ng-select *ngIf="subjects$ | async as subjects" formControlName="subjectId"
                    (ngModelChange)="onSubjectChange($event)">
                    <ng-option *ngFor="let option of subjects" >
                        {{option.title}}
                    </ng-option>
                </ng-select>
        </div>


        <!-- Lecture -->
        <div>
            <label>{{'lecture' | translate}}</label>
            <ng-select *ngIf="lectures$ | async as lectures" formControlName="subjectId"
               >
                <ng-option *ngFor="let option of lectures" >
                    {{option.title}}
                </ng-option>
            </ng-select>
           
        </div>

        <!-- Question Text -->
        <div>
            <label>{{"questionText" | translate}}</label>
            <nz-form-control >
                <input nz-input type="text" [placeholder]="'QUESTION_TEXT' | translate" nzSize="large"
                    formControlName="text" />
            </nz-form-control>
        </div>


        <!-- Question Description -->
        <div>
            <label>{{"description" | translate}}</label>
            <nz-form-control>
                <textarea rows="4" formControlName="description" nz-input
                    [placeholder]="'ENTER_QUESTION_DESC' | translate"></textarea>
            </nz-form-control>
        </div>


            <div class="">
                <ng-container>
                    <div class="clearfix">
                        <nz-upload nzListType="picture-card" [(nzFileList)]="fileList"
                            [nzShowButton]="fileList.length < 8" [nzPreview]="handlePreview" nzName="file"
                            [nzMultiple]="true" (nzChange)="onUploadChange($event)">
                            <div>
                                <span nz-icon nzType="plus" nzTheme="outline"></span>
                                <div style="margin-top: 8px">{{'addImg' | translate}}</div>
                            </div>
                        </nz-upload>

                        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                            (nzOnCancel)="previewVisible = false">
                            <ng-template #modalContent>
                                <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                            </ng-template>
                        </nz-modal>
                    </div>
                </ng-container>
            </div>
    </form>
</div>