@import "settings/colors";

button{
    background-color: transparent;
    border: none;

    &:hover{
        cursor: pointer;
    }
}

button[disabled]{
    opacity: .7;
    &:hover{
        cursor: not-allowed;
    }
}

.main-btn{
    background-color: $main-color;
    border-radius: 7px;
    color: #fff;
    border: 0px;
    font-weight: 500;
    font-size: 1rem;
    padding: .5rem 1rem;
    text-transform: capitalize;
    &:hover{
        cursor: pointer;
    }
}

.rounded{
    border-radius: 2rem;
}

.btn-controller{
    display: flex;
    align-items: center;
    gap: .5rem;

}


// spinner in the button
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loading-btn {
    font-size: 0px;
    position: relative;
    width: 75px;
    height: 30px;
    border-radius: 0;
    
    *{
        opacity: .2;
    }
}

.loading-btn:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}