.container{
    background-image: url('/assets/imgs/auth/signup-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 3rem;
}

.imgs-wrapper{
    margin: 2rem auto;
    gap: 5rem;
}

.footer{
    position: absolute;
    bottom: 1rem;
    right: 50%;
    transform: translateX(50%);
}

.user-type{
    color: #00482D;
    // font-weight: med;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-btn{
    background-color: #65D9B8;
    color: #00482D;
    font-size: 2rem;
    width: 340px;
    padding: .5rem;
    height: auto;
    border-radius: 2rem;
}